.community-container {
  padding: 20px;
}

.tab-container {
  margin-bottom: 20px;
}

.button-container {
  width: 100%;
  margin-bottom: 20px;
}

.float-end {
  float: right;
}

.clear {
  clear: both;
}

.search-and-write {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 0 20px;
}

.write-button {
  position: absolute;
  right: 20px;
  min-width: 100px;
}