.community-container {
  padding: 20px;
}

.tab-container {
  margin-bottom: 20px;
}

.button-container {
  width: 100%;
  margin-bottom: 20px;
}

.float-end {
  float: right;
}

.clear {
  clear: both;
}

.search-and-write {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 0 20px;
  gap: 20px;
}

.write-button {
  min-width: 70px;
  background-color: #1d2636;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.write-button:hover {
  background-color: #414d60;
  color: #e0e0e0;
}