.pagination {
    margin-bottom: 2rem;
  }
  
  .pagination .page-link {
    color: #333C4D;
    cursor: pointer;
    padding: 8px 12px;
    margin: 0 2px;
  }
  
  .pagination .page-item.active .page-link {
    background-color: #ABC7FF;
    border-color: #ABC7FF;
    color: white;
  }
  
  .pagination .page-item.disabled .page-link {
    color: #6c757d;
    cursor: not-allowed;
    background-color: #f8f9fa;
  }