.tabs {
    display: flex;
    position: relative;
    background-color: #f0f0f0; /* 배경을 회색으로 변경 */
    box-shadow: rgba(0, 0, 0, 0.2);
    padding: 0.75rem;
    border-radius: 20px;
  }
  
  .tabs * {
    z-index: 2;
  }
  
  input[type="radio"] {
    display: none;
  }
  
  .tab {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 200px;
    font-size: 1rem;
    font-weight: 400;
    border-radius: 20px;
    cursor: pointer;
    transition: color 0.15s ease-in;
  }
  
  input[id=radio-1]:checked ~ .glider {
    transform: translateX(0);
  }
  input[id=radio-2]:checked ~ .glider {
    transform: translateX(100%);
  }
  input[id=radio-3]:checked ~ .glider {
    transform: translateX(200%);
  }
  
  input[id=male]:checked ~ .glider {
    transform: translateX(0);
  }
  input[id=female]:checked ~ .glider {
    transform: translateX(100%);
  }
  input[id=all]:checked ~ .glider {
    transform: translateX(200%);
  }
  
  input[id=small]:checked ~ .glider {
    transform: translateX(0);
  }
  input[id=middle]:checked ~ .glider {
    transform: translateX(100%);
  }
  input[id=big]:checked ~ .glider {
    transform: translateX(200%);
  }
  
  input[id=diet]:checked ~ .glider {
    transform: translateX(0);
  }
  input[id=effort]:checked ~ .glider {
    transform: translateX(100%);
  }
  input[id=muscles]:checked ~ .glider {
    transform: translateX(200%);
  }
  
  input[id=yes]:checked ~ .glider2 {
    transform: translateX(0);
  }
  input[id=no]:checked ~ .glider2 {
    transform: translateX(100%);
  }
  
  input[id=poster]:checked ~ .glider2 {
    transform: translateX(0);
  }
  input[id=basic]:checked ~ .glider2 {
    transform: translateX(100%);
  }
  
  input[id=direct]:checked ~ .glider2 {
    transform: translateX(0);
  }
  input[id=indirect]:checked ~ .glider2 {
    transform: translateX(100%);
  }
  .glider {
    position: absolute;
    height: 100%; /* 글라이더의 높이 */
    width: 33.3%; /* 글라이더의 너비 */
    background-color: white; /* 흰색 배경 */
    border: 2px solid #cccccc; /* 회색 테두리 */
    z-index: 1;
    top: 0%;
    left: 0%;
    border-radius: 20px; /* 라운드 테두리 */
    transition: transform 0.25s ease-out;
  }
  
  .glider2 {
    position: absolute;
    height: 100%; /* 글라이더의 높이 */
    width: 50%; /* 글라이더의 너비 */
    background-color: white; /* 흰색 배경 */
    border: 2px solid #cccccc; /* 회색 테두리 */
    z-index: 1;
    top: 0%;
    left: 0%;
    border-radius: 20px; /* 라운드 테두리 */
    transition: transform 0.25s ease-out;
  }

  .left-panel {
    width: 300px; /* 원하는 너비로 설정 */
    overflow-y: auto; /* 스크롤 가능하게 설정 */
    height: 100%; /* 전체 높이 사용 */
  }

  .right-panel {
    padding: 20px;
    border-left: 2px solid #ccc; /* 선 스타일 설정 */
  }

