nav {
    display: flex; 
    align-items: center; 
    padding: 10px 20px; 
    background-color: #f8f8f8; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  }
  
  img {
    margin-right: 30px; 
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0; 
    display: flex; 
  }
  
  li {
    margin: 0 90px; 
  }
  
  li a {
    text-decoration: none; 
    color: black; 
    font-size: 18px; 
    transition: color 0.3s;
  }
  
  li a:hover {
    color: #007bff; 
  }
  