.nav-tabs .nav-item {
    margin-left: 0px;
}

.nav-link {
    color: black;
}

.nav-pills .nav-item {
    margin-right: 5px;
    margin-left: 0px;
}

.nav-pills .nav-item .nav-link.active {
    background: #1D2636;
}

.nav-pills .nav-item .nav-link {
    color: gray;
}