.badge-modal-tabs {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 10px 0 20px 0; 
    border-bottom: 1px solid #e0e0e0;

  }
  
  .tab-button {
    padding: 10px 20px;
    border: none;
    background: none;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    color: #666;
  }
  
  .tab-button.active {
    color: #000;
    font-weight: bold;
  }
  
  .tab-button.active::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #007bff;
  }
  
  .tab-button:hover {
    color: #000;
  }