.accept-btn {
    background-color: #add8e6;
    border-bottom-left-radius: 13px;
    border-color: #add8e6;
    color: black;
    height: 40px;
}


.reject-btn {
    background-color: #f08080;
    border-bottom-right-radius: 13px;
    border-color: #f08080;
    color: black;
    height: 40px;
}

.exit-btn {
    background-color: #f08080;
    border-radius: 0px;
    border-bottom-right-radius: 13px;
    border-bottom-left-radius: 13px;
    border-color: #f08080;
    color: black;
    height: 40px;
}

.card-crew:hover {
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}