.accept-btn {
    background-color: #add8e6;
    border-radius: 0px;
    border-bottom-left-radius: 13px;
    border-color: #add8e6;
    color: black;
}


.reject-btn {
    background-color: #f08080;
    border-radius: 0px;
    border-bottom-right-radius: 13px;
    border-color: #f08080;
    color: black;
}

.exit-btn {
    background-color: #f08080;
    border-radius: 0px;
    border-bottom-right-radius: 13px;
    border-bottom-left-radius: 13px;
    border-color: #f08080;
    color: black;
}
